html {
  scroll-behavior: smooth;
}

body {
  color: #777;
}

p + p {
  @apply mt-4;
}

.header {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 35%;
    height: 100%;
    background-color: #5ab578;
    content: " ";
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.banner {
  @apply bg-secondary;

  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;

  > * {
    max-width: 81.25rem !important;
  }

  &__title {
    font-size: 5vw;
    line-height: 5vw;
  }
}

.heading {
  @apply text-secondary;

  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  text-transform: uppercase;

  &::after {
    @apply bg-primary;

    content: " ";
    align-self: flex-start;
    width: 60px;
    height: 3px;
    margin-top: 8px;
  }

  &--full-line {
    &::after {
      width: 100%;
    }
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5ab578;
  cursor: pointer;
  transition: 0.3s;

  &-outline {
    border: 2px solid #5ab578;
  }

  span {
    position: relative;
    z-index: 1;
  }

  span + span {
    margin-left: 40px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    font-size: 130%;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 70px;
    height: 200%;
    background: #1b242f;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    content: "";
    transition: 0.3s;
  }
}

.resume {
  &__details {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    transition: all 0.3s;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      width: 105px;
      height: 200%;
      background: #1b242f;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      content: "";
      transition: 0.3s;
    }
  }

  &__text {
    flex-basis: 70%;
  }

  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  h3 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    max-width: 200px;

    span {
      padding: 0;
      background-color: transparent;
    }
  }

  &::after {
    position: absolute;
    content: " ";
    top: 0;
    z-index: 0;
    width: 1px;
    height: calc(100% - 70px);
    margin-top: 50px;
    background-color: #dddddd;
  }

  &__item-inner {
    &::before {
      border-style: solid;
      height: 0;
      width: 0;
      border-color: transparent #dddddd transparent transparent;
      border-width: 10px 10px 10px 0;
      left: -10px;
      content: " ";
      position: absolute;
      top: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      width: 20px;
      height: 20px;
      background-color: #1b242f;
      border: 6px solid #5ab578;
      border-radius: 100%;
    }

    .resume--left & {
      &::after {
        right: -10px;
      }
      &::before {
        border-color: transparent transparent transparent #dddddd;
        border-width: 10px 0 10px 10px;
        right: -10px;
        left: initial;
      }
    }

    .resume--right & {
      &::after {
        left: -10px;
      }
    }
  }

  &--left {
    margin-right: 30px;

    &::after {
      right: 0;
      left: initial;
    }

    h3 {
      align-self: flex-end;

      &::after {
        margin-left: 10px;
        width: 100px;
        border-bottom: 3px dotted #dddddd;
        content: " ";
        position: relative;
        z-index: 0;
      }
    }
  }

  &--right {
    margin-left: 30px;

    &::after {
      left: 0;
    }

    h3 {
      align-self: flex-start;

      &::before {
        margin-right: 10px;
        width: 100px;
        border-bottom: 3px dotted #dddddd;
        content: " ";
        position: relative;
        z-index: 0;
      }
    }
  }
}
