html {
  scroll-behavior: smooth;
}

body {
  color: #354358;
}

p + p {
  @apply mt-4;
}

.header {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 35%;
    height: 100%;
    background-color: #5ab578;
    content: " ";
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.banner {
  @apply bg-secondary;

  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;

  > * {
    max-width: 81.25rem !important;
  }

  &__title {
    font-size: 5vw;
    line-height: 5vw;
  }
}

.heading {
  @apply text-secondary;

  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  text-transform: uppercase;

  &::after {
    @apply bg-primary;

    content: " ";
    align-self: flex-start;
    width: 60px;
    height: 3px;
    margin-top: 8px;
  }

  &--full-line {
    &::after {
      width: 100%;
    }
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5ab578;
  cursor: pointer;
  transition: 0.3s;

  &-outline {
    border: 2px solid #5ab578;
  }

  span {
    position: relative;
    z-index: 1;
  }

  span + span {
    margin-left: 40px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    font-size: 130%;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 70px;
    height: 200%;
    background: #1b242f;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    content: "";
    transition: 0.3s;
  }
}

.resume {
  &__details {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    transition: all 0.3s;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      width: 105px;
      height: 200%;
      background: #1b242f;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      content: "";
      transition: 0.3s;
    }
  }

  &__text {
    flex-basis: 70%;
  }
}
